pug/home.pug
extends _layout

block title
    title Главная страница
block content
    .page
        .b-line-pattern
            .container
                .b-line-pattern__line
                .b-line-pattern__line
                .b-line-pattern__line
                .b-line-pattern__line
                .b-line-pattern__line
                .b-line-pattern__line
                .b-line-pattern__line

        .b-header
            .container
                .b-header__wrap
                    .b-header__logo
                    .b-header__menu
                        a(href='').b-header__menu-item О компании
                        a(href='').b-header__menu-item Продукция
                        a(href='').b-header__menu-item Сотрудники
                        a(href='').b-header__menu-item Новости
                        a(href='').b-header__menu-item Контакты
                        a(href='').b-header__menu-item.b-header__menu-item--lang En

        .b-main-screen.b-main-screen--first
            .salad.salad--lg
            .salad.salad--md
            .salad.salad--sm

            .pepper.pepper-1
            .pepper.pepper-2
            .pepper.pepper-3
            .pepper.pepper-4
            .pepper.pepper-5

            .b-main-screen__mask


            .b-main-screen__sign Ингредиенты как
                = ' '
                span искусство

            .b-main-screen__scroll Скролл вниз
            .b-main-screen__share

        .b-main-screen.b-main-screen--about
            .salad.salad--sm
            .pepper.pepper-2
            .leaves

            .b-main-screen__title
                h2 О компании
                p «ШЕФ технологии» - молодая и, вероятно, самая прогрессивная компания-новатор на рынке функциональных ингредиентов и специй для мясопереработки и производства молочных продуктов. Мы проповедуем философию уникальности во всём  – от ингредиентов, которые мы предлагаем рынку, до организации бизнес-процессов и позиционирования компании в отрасли.

            .b-main-screen__info
                .b-main-screen__info-img
                    img(src='./images/img-1.jpg' alt='')
                .b-main-screen__info-img
                    img(src='./images/img-2.jpg' alt='')
                .b-main-screen__info-quote
                    p Все мы обречены есть трижды в день до конца жизни.
                    p Так давайте выбирать то, что вкусно, питательно и доставляет удовольствие.
                    h3 Джейми Оливер

            .b-main-screen__control
                .button Подробнее о нас

        .b-main-screen.b-main-screen--purpose
            .pepper.pepper-1
            .pepper.pepper-3
            .pepper.pepper-4
            .salad.salad--md

            .b-main-screen__title
                h2 Наша цель
                p Стратегическая цель SHEF technology – изменить представления о технологиях в производстве продуктов питания, используя возможности и научные открытия прорывных мировых компаний.

            .b-main-screen__slider
                .b-main-screen__slider-item
                .b-main-screen__slider-item
                .b-main-screen__slider-item
                .b-main-screen__slider-item
                .b-main-screen__slider-item

public/home.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,300i,400&amp;display=swap" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="">
    <link rel="stylesheet" href="./css/style.css">
    <title>Главная страница</title>
  </head>
  <body>
    <div class="page">
      <div class="b-line-pattern">
        <div class="container">
          <div class="b-line-pattern__line"></div>
          <div class="b-line-pattern__line"></div>
          <div class="b-line-pattern__line"></div>
          <div class="b-line-pattern__line"></div>
          <div class="b-line-pattern__line"></div>
          <div class="b-line-pattern__line"></div>
          <div class="b-line-pattern__line"></div>
        </div>
      </div>
      <div class="b-header">
        <div class="container">
          <div class="b-header__wrap">
            <div class="b-header__logo"></div>
            <div class="b-header__menu"><a class="b-header__menu-item" href="">О компании</a><a class="b-header__menu-item" href="">Продукция</a><a class="b-header__menu-item" href="">Сотрудники</a><a class="b-header__menu-item" href="">Новости</a><a class="b-header__menu-item" href="">Контакты</a><a class="b-header__menu-item b-header__menu-item--lang" href="">En</a></div>
          </div>
        </div>
      </div>
      <div class="b-main-screen b-main-screen--first">
        <div class="salad salad--lg"></div>
        <div class="salad salad--md"></div>
        <div class="salad salad--sm"></div>
        <div class="pepper pepper-1"></div>
        <div class="pepper pepper-2"></div>
        <div class="pepper pepper-3"></div>
        <div class="pepper pepper-4"></div>
        <div class="pepper pepper-5"></div>
        <div class="b-main-screen__mask"></div>
        <div class="b-main-screen__sign">Ингредиенты как <span>искусство</span>
        </div>
        <div class="b-main-screen__scroll">Скролл вниз</div>
        <div class="b-main-screen__share"></div>
      </div>
      <div class="b-main-screen b-main-screen--about">
        <div class="salad salad--sm"></div>
        <div class="pepper pepper-2"></div>
        <div class="leaves"></div>
        <div class="b-main-screen__title">
          <h2>О компании</h2>
          <p>«ШЕФ технологии» - молодая и, вероятно, самая прогрессивная компания-новатор на рынке функциональных ингредиентов и специй для мясопереработки и производства молочных продуктов. Мы проповедуем философию уникальности во всём  – от ингредиентов, которые мы предлагаем рынку, до организации бизнес-процессов и позиционирования компании в отрасли.</p>
        </div>
        <div class="b-main-screen__info">
          <div class="b-main-screen__info-img"><img src="./images/img-1.jpg" alt=""></div>
          <div class="b-main-screen__info-img"><img src="./images/img-2.jpg" alt=""></div>
          <div class="b-main-screen__info-quote">
            <p>Все мы обречены есть трижды в день до конца жизни.</p>
            <p>Так давайте выбирать то, что вкусно, питательно и доставляет удовольствие.</p>
            <h3>Джейми Оливер</h3>
          </div>
        </div>
        <div class="b-main-screen__control">
          <div class="button">Подробнее о нас</div>
        </div>
      </div>
      <div class="b-main-screen b-main-screen--purpose">
        <div class="pepper pepper-1"></div>
        <div class="pepper pepper-3"></div>
        <div class="pepper pepper-4"></div>
        <div class="salad salad--md"></div>
        <div class="b-main-screen__title">
          <h2>Наша цель</h2>
          <p>Стратегическая цель SHEF technology – изменить представления о технологиях в производстве продуктов питания, используя возможности и научные открытия прорывных мировых компаний.</p>
        </div>
        <div class="b-main-screen__slider">
          <div class="b-main-screen__slider-item"></div>
          <div class="b-main-screen__slider-item"></div>
          <div class="b-main-screen__slider-item"></div>
          <div class="b-main-screen__slider-item"></div>
          <div class="b-main-screen__slider-item"></div>
        </div>
      </div>
    </div>
  </body>
  <script src="./js/bundle.js"></script>
</html>
